<div style="width: 400px; margin: auto;">
    <div *ngIf="currentSubcategoria" class="edit-form">
      <h4>Subcategoria</h4>
      <form>
        <div class="form-group">
            <label for="cod_categoria">COD_CATEGORIA</label>
            <input
              type="text"
              class="form-control"
              id="cod_categoria"
              required
              [(ngModel)]="currentSubcategoria.COD_CATEGORIA"
              name="cod_categoria"
            />
          </div>
    
          <div class="form-group">
            <label for="cod_sub_categoria">COD_SUB_CATEGORIA</label>
            <input
            type="text"
              class="form-control"
              id="cod_sub_categoria"
              required
              [(ngModel)]="currentSubcategoria.COD_SUB_CATEGORIA"
              name="cod_sub_categoria"
            />
          </div>
  
          <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
              type="text"
                class="form-control"
                id="nombre"
                required
                [(ngModel)]="currentSubcategoria.NOMBRE"
                name="nombre"
              />
            </div>
  
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <input
              type="text"
                class="form-control"
                id="descripcion"
                required
                [(ngModel)]="currentSubcategoria.DESCRIPCION"
                name="descripcion"
              />
            </div>
  
            <div class="form-group">
              <label for="fecha_creacion">Fecha Creacion</label>
              <input
              type="text"
                class="form-control"
                id="fecha_creacion"
                required
                [(ngModel)]="currentSubcategoria.FECHA_CREACION"
                name="fecha_creacion"
              />
            </div>
  
      
  
      <button class="badge badge-danger mr-2" (click)="deleteSubcategoria()">
        Delete
      </button>
    </form>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentSubcategoria">
      <br />
      <p>Cannot access this Subcategoria...</p>
    </div>
  </div>