<div class="login-body">
    <div class="mobile-banner">
        <img src="assets/layout/images/logo-mobile.svg" alt="prestige-layout"/>
    </div>
    <div class="login-panel">
        <div class="logo">
            <img src="assets/layout/images/logo.svg" alt="prestige-layout"/>
        </div>
    </div>

    <div class="login-card">
        <div class="top-border"></div>
        <div class="login-content">
            <h1>Login</h1>
            <p>Welcome, please use the form to sign-in.</p>
            <div class="username-container">
                <label>Username</label>
                <div class="login-input">
                    <input type="text" autocomplete="off" placeholder="Enter your username" pInputText>
                </div>
            </div>
            <div class="password-container">
                <label>Password</label>
                <div class="login-input">
                    <input type="password" autocomplete="off" placeholder="Enter your password" pInputText>
                </div>
            </div>
            <div class="forgetpassword-container">
                <a href="#" class="forget-password">Forget Password?</a>
            </div>
            <div>
                <button pButton type="button" label="Sign In" style="width: 100%"></button>
            </div>
        </div>
    </div>
</div>
