body {
    .ui-messages {
        margin: $messagesMargin;
        padding: $messagesPadding;
        @include border-radius($borderRadius);

        &.ui-messages-info {
            background-color: $infoMessageBgColor;
            border: $infoMessageBorder;
            color: $infoMessageTextColor;

            .ui-messages-icon {
                color: $infoMessageIconColor;
            }

            .ui-messages-close {
                color:  $infoMessageIconColor;
            }
        }

        &.ui-messages-success {
            background-color: $successMessageBgColor;
            border: $successMessageBorder;
            color: $successMessageTextColor;

            .ui-messages-icon {
                color: $successMessageIconColor;
            }

            .ui-messages-close {
                color:  $successMessageIconColor;
            }
        }

        &.ui-messages-warn {
            background-color: $warnMessageBgColor;
            border: $warnMessageBorder;
            color: $warnMessageTextColor;

            .ui-messages-icon {
                color: $warnMessageIconColor;
            }

            .ui-messages-close {
                color:  $warnMessageIconColor;
            }
        }

        &.ui-messages-error {
            background-color: $errorMessageBgColor;
            border: $errorMessageBorder;
            color: $errorMessageTextColor;

            .ui-messages-icon {
                color: $errorMessageIconColor;
            }

            .ui-messages-close {
                color:  $errorMessageIconColor;
            }
        }

        .ui-messages-close {
            top: .25em;
            right: .5em;
            font-size: $messageCloseIconFontSize;
            @include border-radius($borderRadius);
            @include transition(box-shadow $transitionDuration);

            &:focus {
                @include focused();
            }
        }

        .ui-messages-icon {
            font-size: $messagesIconFontSize;
        }
    }

    .ui-message {
        padding: $messagePadding;
        margin: $messageMargin;
        @include border-radius($borderRadius);

        .ui-message-icon, .ui-message-text {
            vertical-align: baseline;
        }

        .ui-message-icon {
            font-size: $messageIconFontSize;
        }

        .ui-message-text {
            font-size: $messageTextFontSize;
        }

        &.ui-message-info {
            background-color: $infoMessageBgColor;
            border: $infoMessageBorder;
            color: $infoMessageTextColor;

            .ui-message-icon {
                color: $infoMessageIconColor;
            }
        }

        &.ui-message-success {
            background-color: $successMessageBgColor;
            border: $successMessageBorder;
            color: $successMessageTextColor;

            .ui-message-icon {
                color: $successMessageIconColor;
            }
        }

        &.ui-message-warn {
            background-color: $warnMessageBgColor;
            border: $warnMessageBorder;
            color: $warnMessageTextColor;

            .ui-message-icon {
                color: $warnMessageIconColor;
            }
        }

        &.ui-message-error {
            background-color: $errorMessageBgColor;
            border: $errorMessageBorder;
            color: $errorMessageTextColor;

            .ui-message-icon {
                color: $errorMessageIconColor;
            }
        }

        .ui-message-icon + .ui-message-text {
            margin-left: $inputPadding;
        }
    }

    .ui-toast {
        @include opacity($toastOpacity);

        .ui-toast-message {
            @include shadow($toastShadow);
            margin: $toastMargin;

            .ui-toast-item {
                padding: $toastPadding;

                .ui-toast-message {
                    margin: $toastMessageTextMargin;
                }

                .ui-toast-image {
                    left: inherit;
                    font-size: $toastIconFontSize;
                }
            }

            &.ui-toast-message-info {
                background-color: $infoMessageBgColor;
                border: $infoMessageBorder;
                color: $infoMessageTextColor;

                .ui-toast-close-icon {
                    color: $infoMessageTextColor;
                }
            }

            &.ui-toast-message-success {
                background-color: $successMessageBgColor;
                border: $successMessageBorder;
                color: $successMessageTextColor;

                .ui-toast-close-icon {
                    color: $successMessageIconColor;
                }
            }

            &.ui-toast-message-warn {
                background-color: $warnMessageBgColor;
                border: $warnMessageBorder;
                color: $warnMessageTextColor;

                .ui-toast-close-icon {
                    color: $warnMessageTextColor;
                }
            }

            &.ui-toast-message-error {
                background-color: $errorMessageBgColor;
                border: $errorMessageBorder;
                color: $errorMessageTextColor;

                .ui-toast-close-icon {
                    color: $errorMessageTextColor;
                }
            }
        }
    }

}
