<div class="list row">
    <div class="col-md-6">
      <h4>Aspirantes List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let aspirante of aspirantes; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveAspirante(aspirante, i)"
        >
          {{ aspirante.NOMBRE }}
          {{ aspirante.APELLIDO }}
        </li>
      </ul>
  
    </div>
    <div class="p-col-12 p-lg-8">
      <div class="card table">
        <h1 style="margin-top:0">Aspirante</h1>
        <p-table [columns]="cols"
             [responsive]="true"
             [paginator]="true" [rows]="4">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let aspirante of aspirantes; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveAspirante(aspirante, i)">
              {{rowData[col.field]}}
              </td>
              <td *ngFor="let aspirante of aspirantes; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveAspirante(aspirante, i)">
              {{ aspirante.APELLIDO }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentAspirante">
        <h4>Aspirante</h4>
        <div>
          <label><strong>Nombres:</strong></label> {{ currentAspirante.NOMBRE }}
        </div>
        <div>
          <label><strong>Apellidos:</strong></label>
          {{ currentAspirante.APELLIDO }}
        </div>
        <div>
          <label><strong>Telefono:</strong></label>
          {{ currentAspirante.TELEFONO }}
        </div>
        <div>
          <label><strong>Direccion:</strong></label>
          {{ currentAspirante.DIRECCION }}
        </div>
        <div>
          <label><strong>Correo:</strong></label>
          {{ currentAspirante.CORREO_PERSONAL }}
        </div>
  
        <a class="badge badge-warning" routerLink="/aspirantes/{{ currentAspirante.COD_ASPIRANTE }}">
          EDITAR
        </a>
      <!--   <button class="badge badge-danger mr-2" (click)="deleteAspirante()">
          Delete
        </button> -->
      </div>
  
      <div *ngIf="!currentAspirante">
        <br />
       
      </div>
    </div>
    
</div>


